{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 4 versions"
          ]
        }
      }
    ]
  ],

  
  "plugins": [
    "syntax-dynamic-import"
  ]
}