.content
  font-family Helvetica
  line-height 1.5
  padding 0 2rem
  margin 0 auto
  // text-align center

@media all and (min-width 670px)
  .content
    padding 0 15%
    // margin 0
    text-align left
