.main-article
  padding-top 2rem
  color #333

  h3
    font-size 2rem
    font-weight bolder
    text-transform capitalize

  p, .normala
    color #444
    margin 2.5rem 0



.majora
  
  line-height 1.5


.float-right
  float right
  font-style italic
  line-height 1.2
  font-size 1.4rem
  max-width 40%
  color #555
  padding 1rem 1.5rem 3rem 
  
  footer
    text-align right
    margin-top 1rem
    font-style normal

