.main-article-plus-sidebar
  padding-top 2rem
  color #333
  font-size 1rem
  line-height 1.7
  display flex
  flex-wrap wrap

  h3
    font-size 2rem
    font-weight bolder
    text-transform capitalize

  h4
    font-size 1.8rem
    font-weight bolder
    text-align center

  p, .normala
    color #444
    margin 2.5rem 0




