navColor = #2D3942
bannerColor = #8198a0
orangeHero = #eab158

// Overall site header. Navigation + Banner
.site-header
  // background-color #2D3942
  text-transform uppercase
  align-items center

// TODO: Banner for header
// .header-banner



// Navigation area
.header-nav
  background-color navColor
  display flex
  flex-wrap wrap
  font-family Helvetica
  text-align center
  justify-content space-between

  ul
    display flex
    flex-wrap wrap
    flex 1 1 100%
  
  li
    font-weight bolder
    flex 1 1 100%
    text-align center


  a
    display block
    color white
    letter-spacing 2px
    font-size 0.8rem
    // font-family Helvetica

    transition all 0.3s ease

    &.active, &:hover
      background-color darken(navColor, 20%)
      border-bottom 2px solid aqua

.brand
  color white
  display block
  position relative
  font-size 1rem
  flex 1 1 0
  // margin 0 auto
  text-align center



.brand, .header-nav a
  padding 1rem

.header-banner
  background-color bannerColor
  display flex
  // color #fff
  // padding 10rem 0
  // font-family Helvetica
  // font-size 1.2rem
  // word-spacing 0.2rem


.orange
  color white
  font-family sans-serif
  // display inline-block
  line-height 1.2
  font-size 1.15rem
  word-spacing 0.2rem
  // display flex



  span
    background-color orangeHero
    // white-space pre-wrap
    display inline
    line-height 1.4
    // box-shadow: 10px 0 0 heroOrange, -10px 0 0 heroOrange;
    box-shadow: 0.3rem 0 0 orangeHero, -0.3rem 0 0 orangeHero;
    box-decoration-break: clone;
    padding 0.3rem 0;
    text-transform none
    letter-spacing 1px
    font-size 1.3rem

.header-banner.content
  padding-top 5rem
  padding-bottom 5rem

// @media all and (min-width 1024px)
//   .header-nav ul
//     margin-left auto

  
// @media all and (min-width 670px)
//   .header-nav li:first
//     margin-left auto

nav.content
  padding 0 2%

// @media all and (min-width 920px)
//   .brand
//     text-align left

@media all and (min-width 720px)

  .orange
    flex 0 0 70%

  .header-nav ul
    flex-wrap nowrap
    flex 0 0 50%

    li
      flex 0 1 10%



  nav.content
    padding 0 15%


