navColor = #2D3942
bannerColor = #8198a0
orangeHero = #eab158


.site-header
  text-transform uppercase


.header-nav
  background-color navColor
  display flex
  flex-wrap wrap
  justify-content space-between
  position fixed
  top 0
  right 0
  left 0
  z-index 5


  ul
    display none
    flex 1 1 100%
    transition all 1s ease
    

  li
    font-weight bolder
    flex 1 1 100%
    text-align center
    display flex
    flex-direction column
    justify-content center


  a
    display block
    color white
    height 100%
    letter-spacing 2px
    font-size 0.8rem
    display flex
    flex-direction column
    justify-content center


    &.active, &:hover
      background-color darken(navColor, 20%)
      border-bottom 2px solid aqua

// For the brand logo
.brand
  color black
  
  text-stroke 1.8px aqua
  -webkit-text-stroke 1.8px aqua
  padding auto 0
  
  display block
  position relative
  font-size 1.5rem
  flex 1 1 100%
  text-align center



.brand, .header-nav a
  padding 1rem

.header-banner
  background-color bannerColor
  display flex
  padding 10rem



.orange
  color white
  line-height 1.2
  font-size 1.15rem
  word-spacing 0.2rem
  margin 5rem 0 1rem



  span
    background-color orangeHero
    display inline
    line-height 1.4
    box-shadow: 0.3rem 0 0 orangeHero, -0.3rem 0 0 orangeHero;
    box-decoration-break: clone;
    padding 0.3rem 0;
    text-transform none
    letter-spacing 1px
    font-size 1.3rem

.header-banner.content
  padding-top 5rem
  padding-bottom 2rem



nav.content
  padding 0 2%


.hamburger
  height 50px
  background linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%)
  min-width 80px
  margin 1rem auto
  border none
  display block
  flex 0 0 5%
  margin 0.5rem auto 1rem
  border 0.4rem solid navColor
  border-radius 0.2rem
  box-shadow 0px 0px 0px 1px #aaa

.reveal
  transition all 1s ease

.content .reveal
  display flex
  flex 1 1 100%
  max-height 200rem
  flex-wrap wrap

  li
    display block
    max-height 200rem



@media all and (min-width 900px)

  .brand
    flex 0 0 0
    text-align left

  .orange
    flex 0 0 70%
    margin 3rem 0

  .header-nav.content
    display flex
    flex-wrap nowrap

    ul
      display flex
      flex-wrap nowrap
      flex 0 0 50%

    
    li
      display block

  nav.content
    padding 0 15%

  .hamburger
    display none




