.bordered-heading
    border-top 0.2rem solid #aaa
    margin 4rem 0
    text-align center
    color #333

    span
      position relative
      top -1.8rem
      background-color #fff
      padding 1rem
      font-size 2rem
      font-weight bolder

