.float-right
  float right
  font-style italic
  line-height 1.2
  font-size 1.4rem
  color #555
  padding 2rem
  
  footer
    text-align right
    font-size 1rem
    font-family serif
    margin-top 1rem
    font-style normal


@media all and (min-width 760px)
  .float-right
    max-width 70%